@import "../mixins";
@import "../variables";

.activitiesHeader {
  @include masteryHeader($primary-activities);
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__arrowToBack {
      font-size: 30px;
      color: white;
      transition-duration: 0.13s;
      &:hover {
        color: #9e3518;
      }
    }
    &__saveBtn {
      text-transform: uppercase;
      color: $primary-activities;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      &:hover {
        color: #9e3518;
      }
    }
  }
}

.activitiesList {
  &__content {
    padding: 30px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 130px);
  }
  &__link {
    @include absoluteAddLink($primary-activities, $primary-activities-lighter)
  }
}

.createActivity {
  &__content {
    padding: 60px;
    .activity-input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid gray;
      font-size: 1.4em;
      box-shadow: none !important;
      &:focus {
        box-shadow: none;
        border-bottom: 2px solid $primary-activities
      }
    }
    .ant-picker-cell-inner {
      border: 1px $primary-activities solid !important;
    }
    .ant-picker-today-btn {
      color: $primary-activities !important;
    }
    .ant-picker {
      width: 236px;
      &:hover, &.ant-picker-focused {
        border: 1px $primary-activities solid !important;
        box-shadow: none;
      }
      .ant-picker-today-btn {
        color: $primary-activities !important;
      }
      .ant-picker-suffix, .ant-picker-clear {
        font-size: 24px;
      }
      .ant-picker-input {
        input {
          font-size: 20px;
        }
      }
    }
  }
  .selectSkillBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 24px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);

    &__text {
      font-size: 1.5em;
      margin-left: 30px;
      color: $gray;
    };
    &:hover, &:focus, &:active {
      box-shadow: 0 0 3px 3px rgba(191, 78, 48, .25);
      .selectSkillBtn__text {
        color: $primary-activities;
      }
    }
  }
}
