.ant-menu-inline {
  background-color: #EBECF0;
  width: 150px;
}

.sideMenu {
  position: fixed;
  height: 100vh;
  z-index: 1010;
  background-color: #050831 !important;
  &__collapsed {
    width: 60px;
  }
  &__uncollapsed {
    width: 160px;
  }

  &__item {
    font-size: 16px;
  }

  &__uncollapsed-item {
    color: white !important;
    .anticon {
      svg {
        width: 1.3em;
        height: 1.3em;
      }
    }
  }

  .sign-out {
    position: absolute;
    bottom: 16px;
    background-color: #ff4d4f !important;
    color: white !important;
    &:hover {
      background-color: #ee3c3e !important;
    }
  }
  .username {
    font-size: 20px !important;
    font-weight: bold;
    word-break: break-word;
    cursor: pointer;
    text-align: center;
    .ant-menu-inline-collapsed-noicon {
      font-size: 20px !important;
    }
  }
}
