.startForm {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 5rem;
    margin-bottom: 0 !important;
  }
  &__describe {
    font-size: 2rem;
    margin-top: 0.4em !important;
  }
  &__buttons {
    margin-top: 3rem;
    .ant-btn-round.ant-btn-lg {
      height: 50px;
    }
    &-signIn {
      margin-right: 3rem;
      width: 200px;
      h4 {
        color: white;
        margin-bottom: 0;
        font-size: 18px;
      }
    }
    &-signUp {
      height: 50px;
      width: 200px;
      h5 {
        margin-bottom: 0;
      }
    }
  }
}
