@mixin cancel-icon {
  font-size: 20px;
  color: #6b778c;
  cursor: pointer;
  &:hover {
    color: #172b4d;
  }
}

@mixin submit-button {
  border-radius: 3px;
  box-shadow: none;
  background-color: #5aac44;
  border: none;
  color: #fff;
  &:hover {
    background-color: #61bd4f;
    color: #fff;
  }
}

@mixin regular-icon {
  cursor: pointer;
  color: #42526e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #EBECF0;
    color: #172b4d
  }
}

@mixin masteryHeader($color) {
    padding: 20px;
    background-color: $color;
    color: white;
    font-size: 1.6em;
    border-radius: 6px 6px 0 0;
    letter-spacing: 0.4px;
}

@mixin absoluteAddLink($bgc, $bgcHover) {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80px;
  background-color: $bgc;
  color: #fff;
  transition: background-color .2s;
  position: absolute;
  bottom: 24px;
  right: calc(50% - 20px);
  &:hover {
    background-color: $bgcHover
  }
}
