$primary-activities: #bf4e30;
$primary-activities-lighter: #e0856c;
$gray: #929292;
$gray-dark: #707080;
$gray-darkest: #666;

$primary-skills: #02BC84;
$primary-skills-lighter: #50DBB1;

$primary-input: #11998e;
$secondary-input: #38ef7d;
$gray-input: #9b9b9b;
