@import "../../styles/mixins";

.addTaskForm {
  &__textarea {
    &::after {
      font-size: 11px;
      font-weight: 600;
    }
    textarea {
      border-radius: 3px;
      font-size: 16px;
      line-height: 20px;
      padding: 8px;
      &:focus {
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
        border: none;
        outline: none;
      }
    }
  };
  &__button {
    @include submit-button;
    position: relative;
    top: -8px;
  };
  &__cancel-icon {
    @include cancel-icon;
    position: relative;
    bottom: 6px;
    margin-left: 12px;
  }
}
